/* Recommendations.css */
/* Recommendations.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.recommendations {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.789);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffbb38;
  }
  
  .recommendations .reccomendation-title {
    font-size: 64px;
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    color: #ffbb38;
  }

  .carousel-item {
    outline: none;
    max-width: 93px;
  }
  
  .cover-image {
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  .cover-image:hover {
    transform: scale(1.1);
  }

  /* Customize the carousel dots */
  .slick-dots {
    bottom: -30px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff5f6d;
  }

  
  @media (max-width: 2000px) {
    .recommendations {
      width: 500px;
      justify-content: space-around;
    }

    .cover-image {
      display: block;
      margin: 0 auto;
    }
  }